@model pahsolutionsportfolio.Models.ContactViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Contact";
}

<div class="bg-white shadow-md rounded-lg">
    <div class="p-8">
        <div class="mx-auto max-w-4xl">
            <h2 class="text-2xl md:text-4xl font-bold text-gray-900 mb-10">Contact us!</h2> 

            <form asp-controller="Contact" asp-action="Contact" method="POST" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-red-600 mb-6"></div>

                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-6" role="alert">
                        <strong class="font-bold">Success!</strong>
                        <span class="block sm:inline">@TempData["SuccessMessage"]</span>
                    </div>
                }

                <div class="mb-6">
                    <label asp-for="SelectedField" class="block text-lg font-semibold mb-2 text-gray-700">Select Inquiry Type</label>
                    <select asp-for="SelectedField" asp-items="Model.Fields" class="block w-full bg-gray-100 border border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 rounded-md shadow-sm mb-3 transition duration-300 ease-in-out placeholder-gray-600 text-lg py-2" style="color: #4A5568;">
                        <option value="">Inquiry Type</option>
                        <option value="Healthcare">Healthcare</option>
                        <option value="Education">Education</option>
                        <option value="Finance and Accounting">Finance and Accounting</option>
                        <option value="E-commerce and Retail">E-commerce and Retail</option>
                        <option value="Real Estate">Real Estate</option>
                        <option value="Hospitality and Travel">Hospitality and Travel</option>
                        <option value="Manufacturing and Supply Chain">Manufacturing and Supply Chain</option>
                        <option value="Human Resources">Human Resources</option>
                        <option value="Marketing and Advertising">Marketing and Advertising</option>
                        <option value="Legal">Legal</option>
                        <option value="Other">Other</option>
                    </select>
                    <span asp-validation-for="SelectedField" class="text-red-500"></span>
                </div>

                <div class="mb-6">
                    <label asp-for="Name" class="block text-lg font-semibold mb-2 text-gray-700">Name</label>
                    <input asp-for="Name" autocomplete="off" class="block w-full bg-gray-100 border border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 rounded-md shadow-sm p-4 transition duration-300 ease-in-out placeholder-gray-600 text-lg" style="color: #4A5568;" placeholder="Enter your name">
                    <span asp-validation-for="Name" class="text-red-500"></span>
                </div>

                <div class="mb-6">
                    <label asp-for="Email" class="block text-lg font-semibold mb-2 text-gray-700">Email Address</label>
                    <input asp-for="Email" type="email" autocomplete="off" class="block w-full bg-gray-100 border border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 rounded-md shadow-sm p-4 transition duration-300 ease-in-out placeholder-gray-600 text-lg" style="color: #4A5568;" placeholder="Enter your email">
                    <span asp-validation-for="Email" class="text-red-500"></span>
                </div>

                <div class="mb-6">
                    <label asp-for="Description" class="block text-lg font-semibold mb-2 text-gray-700">Briefly describe your project</label>
                    <textarea asp-for="Description" autocomplete="off" class="block w-full bg-gray-100 border border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 rounded-md shadow-sm p-4 leading-relaxed transition duration-300 ease-in-out placeholder-gray-600 text-lg" style="color: #4A5568;" rows="4" placeholder="Describe your project"></textarea>
                    <span asp-validation-for="Description" class="text-red-500"></span>
                </div>

                <div class="flex items-center mb-6">
                    <input asp-for="IsNDARequired" type="checkbox" class="h-5 w-5 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500 focus:ring-2 bg-gray-200">
                    <label asp-for="IsNDARequired" class="ml-2 text-gray-700 text-lg">I want my project to be protected under an NDA</label>
                </div>

                <div class="text-center mt-6 mb-10">
                    <button type="submit" class="bg-gradient-to-r from-blue-500 to-indigo-500 hover:from-blue-600 hover:to-indigo-600 text-white font-bold py-3 md:py-4 px-5 md:px-7 rounded-lg shadow-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-xl">
                        Send Request
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
 
